{% extends "base.html" %}

{% block title %}
🙌 Web Casino - Beg
{% endblock %}

{% block content %}
<br />
<div class="row">
    <div class="col"></div>
    <div class="col-6">
	{% if current_user.is_authenticated %}
        <div class="card">
            <div class="card-header">You Go Begging...</div>
            <div class="card-body">
            {% if amt %}
                You gained {{ amt }} {{ amt_type }}
            {% elif msg_error %}
                {{ msg_error }}
            {% endif %}
            </div>
            <div class="card-footer">
                <a href="/casino" class="btn btn-primary">🎰 Back to the Casino</a>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}