{% extends "base.html" %}

{% block title %}
🎰 Web Casino - Casino
{% endblock %}


{% block content %}
<br />
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">Welcome to the casino area</div>
            <div class="card-body">
                <div class="card-text">
                <a href="/beg" class="btn btn-primary">🙌 Go Begging</a>
                <a href="/slots/coins" class="btn btn-primary">🔘🎰 Play Coin Slots</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}