{% extends "base.html" %}

{% block title %}
My Dashboard
{% endblock %}

{% block content %}
<p>💻 My Dashboard</p>

     💵 ${{ profile.bucks }} Bucks<br />
     🔘 {{ profile.coins }} Coins<br />
     🟡 {{ profile.limecoins }} Limecoins<br />
     💍 {{ profile.ambinar }} Amnbinar<br />
     💎 {{ profile.gillinite }} Gillinite<br />
     ⚡ {{ profile.energy }} / 100 Energy<br />
     ✔ {{ profile.wins }} Wins<br />
     ❌ {{ profile.losses }} Losses<br />

    Messages<br />
    {% if current_user.is_authenticated %}
        {% for message in messages %}
            {{message.get_author().username}} - {{ message.content }}<br />
        {% endfor %}
    {% endif %}
{% endblock %}