{% extends "base.html" %}

{% block title %}
💻 Web Casino - My Dashboard
{% endblock %}

{% block content %}
<br />
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              💻 My Dashboard
            </div>

            <ul class="list-group list-group-flush" style="text-align: left;">
                <li class="list-group-item">💵 ${{ profile.bucks | money_format }} Bucks</li>
                <li class="list-group-item">🔘 {{ profile.coins | money_format }} Coins</li>
                <li class="list-group-item">🟡 {{ profile.limecoins | money_format }} Limecoins</li>
                <li class="list-group-item">💍 {{ profile.ambinar | money_format }} Amnbinar</li>
                <li class="list-group-item">💎 {{ profile.gillinite | money_format }} Gillinite</li>
                <li class="list-group-item">⚡ {{ profile.energy }} / 100 Energy</li>
                <li class="list-group-item">✔ {{ profile.wins }} Wins</li>
                <li class="list-group-item">❌ {{ profile.losses }} Losses</li>
            </ul>
        </div>
    </div>
    <div class="col-6">

    </div>
    <div class="col">
        {% if current_user.is_authenticated %}
        <div class="card" style="width: 18rem;">
           <div class="card-header">
             Messages
           </div>
           <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for message in messages %}
                <li class="list-group-item">
                    <div class="card">
                        <p>{{message.get_author().username}}</p>
                        <p>{{ message.content }}</p>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
         </div>
       {% endif %}
    </div>
</div>

{% endblock %}