{% extends "base.html" %}

{% block title %}
My Dashboard
{% endblock %}

{% block content %}
<p>💻 My Dashboard</p>
<ul>
    <li> 💵 ${{ profile.bucks }} Bucks</li>
    <li> 🔘 {{ profile.coins }} Coins</li>
    <li> 🟡 {{ profile.limecoins }} Limecoins</li>
    <li> 💍 {{ profile.ambinar }} Amnbinar</li>
    <li> 💎 {{ profile.gillinite }} Gillinite</li>
    <li> ⚡ {{ profile.energy }} / 100 Energy</li>
    <li> ✔ {{ profile.wins }} Wins</li>
    <li> ❌ {{ profile.losses }} Losses</li>
</ul>
Messages<br />
    {% if current_user.is_authenticated %}
        <ul>
        {% for message in messages %}
            <li>{{message.get_author().username}} - {{ message.content }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}