{% extends "base.html" %}

{% block title %}
🌐 Web Casino - Home
{% endblock %}

{% block content %}
	{% if current_user.is_authenticated %}
	<br />
	<div class="container">
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">🎰 Casino</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Play slots or beg on the streets</h6>
				  <p class="card-text">This casino is the best around, no fees and pure profit.</p>
				  <a href="/casino" class="card-link btn btn-primary">Go</a>
				</div>
			  </div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">🏠 Home</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Go home and relax, regain some energy or watch some tv.</h6>
				  <p class="card-text">Its good to relax and do something other then just gameble all the time</p>
				  <a href="/home" class="card-link btn btn-primary">Go</a>
				</div>
			  </div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">🏧 Bank</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Store your 💵 Bucks or Make a Widthdrawl</h6>
				  <p class="card-text">Certain events can cause you to lose the money currently on you, storing it in a bank is the safest way to keep your funds safe</p>
				  <a href="/bank" class="card-link btn btn-primary">Go</a>
				</div>
			  </div>
		</div>
	  </div>
	  <br />
	  <!-- Row 2-->
	  <div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">📕 Library</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Learn things, gain knowledge</h6>
				  <p class="card-text">Read books, increase your knowledge and learn and thing or two</p>
				  <a href="/library" class="card-link btn btn-primary">Go</a>
				</div>
			  </div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">🔘 Currency Exchange</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Exchange coin/gems for Bucks</h6>
				  <p class="card-text">Convert those casino winnings into real money, also exchange raw gems for real money too</p>
				  <a href="/xchange" class="card-link btn btn-primary">Go</a>
				</div>
			  </div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">🍫 Store</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Go Shopping</h6>
				  <p class="card-text">Exchange money for key items like tickets or candy to boost your winnings</p>
				  <a href="/store" class="card-link btn btn-primary">Go</a>
				</div>
			  </div>
		</div>
	  </div>
	  <br />
	  <!-- Row 3-->
	  <div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">✈ Airport</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Fly away</h6>
				  <p class="card-text">Fly to a remote location and explore it</p>
				  <a href="/airport" class="card-link btn btn-primary">Go</a>
				</div>
			  </div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">🚢 Docks</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Float away</h6>
				  <p class="card-text">Float to a remote location and explore it</p>
				  <a href="/docks" class="card-link btn btn-primary">Go</a>

				</div>
			  </div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">❓❔❓</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Comming Soon</h6>
				  <p class="card-text">Coming Soon.</p>
				</div>
			</div>
		</div>
	  </div>
	  <br />
	<!--
		<a href="/casino">🎰 Go to Casino</a><br />
		<a href="/home">🏠 Go Home</a><br />
		<a href="/bank">🏦 Go Bank</a><br />
		<a href="/library">📕 Go Library</a><br />
		<a href="/xchange">💶 Go Currency Exchange</a><br />
		<a href="/store">🏬 Go Store</a><br />
		<a href="/airport">✈ Go Airport</a><br />
		<a href="/docks">🚢 Go Docks</a><br />
	-->
	{% endif %}

	<br />
	
	{% if not current_user.is_authenticated %}
	<div class="row">
		<div class="col">
			<!--
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">Play Slots</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="/" class="card-link btn btn-primary">???</a>
				</div>
			</div>
			-->
		</div>

		<div class="col-6">
			<div class="card">
				<div class="card-body">
				  <h5 class="card-title">Web Casino</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Play Slots, Explore the world, Get Rich, Get Poor</h6>
				  <p class="card-text">Create an account or login to play</p>
				  <!--a href="/" class="card-link btn btn-primary">???</a-->
				</div>
			</div>
		</div>

		<div class="col">
			<!--
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				  <h5 class="card-title">???</h5>
				  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="/" class="card-link btn btn-primary">???</a>
				</div>
			</div>
			-->
		</div>
	</div>
	{% endif %}
	</div>
{% endblock %}

