{% extends "base.html" %}

{% block title %}
🧑 Web Casino - Members
{% endblock %}

{% block content %}
	
    <br />
    <div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header"><h2>🧑 Members</h2></div>
            <div class="card-body">
                <ul class="list-group list-group-flush" style="text-align: left;">
                    
                {% for member in users %}
                    <li class="list-group-item"><a href="/user/{{ member.username }}" class="btn btn-primary btn-sm">{{ member.username}}</a> 💵 {{member.get_profile().bucks | money_format}} {{ member.online | show_online}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <div class="col"></div>
    </div>

{% endblock %}