{% extends "base.html" %}

{% block title %}
{{ user.username }} Profile
{% endblock %}

{% block content %}
<p> {{user.username }} profile</p>
     💵 ${{ profile.bucks }} Bucks<br >
     🔘 {{ profile.coins }} Coins<br />
     🟡 {{ profile.limecoins }} Limecoins<br />
     💍 {{ profile.ambinar }} Amnbinar<br />
     💎 {{ profile.gillinite }} Gillinite<br />
     ⚡ {{ profile.energy }} / 100 Energy<br />
     ✔ {{ profile.wins }} Wins<br />
     ❌ {{ profile.losses }} Losses<br />
     <br />
     <p>Contact {{user.username}}</p>
    {% if current_user.is_authenticated %}
        <a href="/send_message/{{user.username}}">✉ Send Message to {{ user.username}}</a>
    {% endif %}
{% endblock %}