{% extends "base.html" %}

{% block title %}
{{ user.username }} Profile
{% endblock %}

{% block content %}
<p> {{user.username }} profile</p>
<ul>
    <li> 💵 ${{ profile.bucks }} Bucks</li>
    <li> 🔘 {{ profile.coins }} Coins</li>
    <li> 🟡 {{ profile.limecoins }} Limecoins</li>
    <li> 💍 {{ profile.ambinar }} Amnbinar</li>
    <li> 💎 {{ profile.gillinite }} Gillinite</li>
    <li> ⚡ {{ profile.energy }} / 100 Energy</li>
    <li> ✔ {{ profile.wins }} Wins</li>
    <li> ❌ {{ profile.losses }} Losses</li>
</ul>
    {% if current_user.is_authenticated %}
        <a href="/send_message/{{user.username}}">✉ Send Message to {{ user.username}}</a>
    {% endif %}
{% endblock %}