{% extends "base.html" %}

{% block title %}
Create a new account
{% endblock %}

{% block content %}
{% if msg %}
	{{ msg }}
{% endif %}

<form action="#" method="post">
<label for="username">Your new username:</label>
<input type="text" name="username" /><br />

<label for="password">a password:</label>
<input type="password" name="password" /><br />

<label for="password2">same password:</label>
<input type="password" name="password2" /><br />

<button type="submit">Submit</button>
</form>

{% endblock %}

