{% extends "base.html" %}

{% block title %}
🔘 Web Casino - Coin Slots
{% endblock %}

{% block content %}

	{% if current_user.is_authenticated %}
		{% if data %}
			{% for roll in data %}
				<span>{{roll[0]}} | {{roll[1]}} | {{roll[2]}}</span><br />
			{% endfor %}
		{% endif %}
		{% if msg  %}
			{{ msg }}<br />
		{% endif %}
		Gamble your 🔘 Away<br />
		<form action="#" method="post">
			<label for="bet">bet:</label>
			<input type="text" name="bet" value="10"/><br />
			<button type="submit">Play Slots</button>
		</form>
		<a href="/casino">Go back to Casino</a>
	{% endif %}
{% endblock %}