{% extends "base.html" %}

{% block title %}
🔘 Web Casino - Currency Exchange
{% endblock %}

{% block content %}
<br />
<div class="row">
	<div class="col"></div>
	<div class="col-6">
		{% if current_user.is_authenticated %}
		<div class="card">
			<div class="card-header">Exchange your Currency</div>
			<div class="card-body">
				<ul class="list-group list-group-flush" style="text-align: left;">
					<li class="list-group-item">
						<div class="card-text">Exchange 🔘 100 for $1 💵</div>
						<a href="/xchange/coins/100" class="btn btn-primary">🔘 100 -> 💵 $1</a>
					</li>
					<li class="list-group-item">
						<div class="card-text">Exchange 🔘 500 for $5 💵</div>
						<a href="/xchange/coins/500" class="btn btn-primary">🔘 500 -> 💵 $5</a>
					</li>
				</ul>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="col"></div>
</div>
{% endblock %}